- name: Configure BeeGFS management daemon TLS and auth
  hosts: control
  become: true
  tags:
    - management
    - security
    - config
  tasks:
    - name: Ensure TLS certificate path in beegfs-mgmtd.toml
      lineinfile:
        path: /etc/beegfs/beegfs-mgmtd.toml
        regexp: '^tls-cert-file\s*='
        line: 'tls-cert-file = "/etc/beegfs/cert.pem"'
        create: yes

    - name: Ensure TLS key path in beegfs-mgmtd.toml
      lineinfile:
        path: /etc/beegfs/beegfs-mgmtd.toml
        regexp: '^tls-key-file\s*='
        line: 'tls-key-file = "/etc/beegfs/key.pem"'
        create: yes

    - name: Ensure auth file path in beegfs-mgmtd.toml
      lineinfile:
        path: /etc/beegfs/beegfs-mgmtd.toml
        regexp: '^auth-file\s*='
        line: 'auth-file = "/etc/beegfs/conn.auth"'
        create: yes



- name: Configure BeeGFS metadata daemon on storage nodes
  hosts: storage
  become: true
  tags:
    - storage
    - security
    - config
  tasks:
    - name: Set connAuthFile in beegfs-meta.conf
      lineinfile:
        path: /etc/beegfs/beegfs-meta.conf
        regexp: '^connAuthFile\s*='
        line: 'connAuthFile = /etc/beegfs/conn.auth'
        create: yes

    - name: Set sysMgmtdHost in beegfs-meta.conf
      lineinfile:
        path: /etc/beegfs/beegfs-meta.conf
        regexp: '^sysMgmtdHost\s*='
        line: 'sysMgmtdHost = node1'
        create: yes


- name: Configure BeeGFS storage daemon on storage nodes
  hosts: storage
  become: true
  tags:
    - storage
    - security
    - config
  tasks:
    - name: Set storeStorageDirectory in beegfs-storage.conf
      lineinfile:
        path: /etc/beegfs/beegfs-storage.conf
        regexp: '^storeStorageDirectory\s*='
        line: 'storeStorageDirectory = /storage/stor1,/storage/stor2'
        create: yes

    - name: Set sysMgmtdHost in beegfs-storage.conf
      lineinfile:
        path: /etc/beegfs/beegfs-storage.conf
        regexp: '^sysMgmtdHost\s*='
        line: 'sysMgmtdHost = node1'
        create: yes

    - name: Set connAuthFile in beegfs-storage.conf
      lineinfile:
        path: /etc/beegfs/beegfs-storage.conf
        regexp: '^connAuthFile\s*='
        line: 'connAuthFile = /etc/beegfs/conn.auth'
        create: yes


- name: Configure BeeGFS client
  hosts:
    - login
    - compute
  become: true
  tags:
    - client
    - config
  tasks:
    - name: Ensure /etc/beegfs directory exists
      file:
        path: /etc/beegfs
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Set sysMgmtdHost in beegfs-client.conf
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^sysMgmtdHost\s*='
        line: 'sysMgmtdHost = node1'
        create: yes


    - name: Set connAuthFile in beegfs-client.conf
      lineinfile:
        path: /etc/beegfs/beegfs-client.conf
        regexp: '^connAuthFile\s*='
        line: 'connAuthFile = /etc/beegfs/conn.auth'
        create: yes

    - name: Update /etc/beegfs/beegfs-mounts.conf to mount /scratch
      lineinfile:
        path: /etc/beegfs/beegfs-mounts.conf
        regexp: '^.*$'
        line: '/scratch /etc/beegfs/beegfs-client.conf'
        create: yes
