---
- name: Setup BeeGFS storage targets on storage nodes
  hosts: storage
  become: true
  tags:
    - storage
    - setup
  vars:
    storage_targets:
      node6:
        mgmtd: node1
        targets:
          - path: /storage/stor1
            storage_id: 1
            target_id: 101
          - path: /storage/stor2
            storage_id: 1
            target_id: 102
      node7:
        mgmtd: node1
        targets:
          - path: /storage/stor1
            storage_id: 2
            target_id: 201
          - path: /storage/stor2
            storage_id: 2
            target_id: 202
  tasks:
    - name: Setup BeeGFS storage targets per node
      command: >
        /opt/beegfs/sbin/beegfs-setup-storage
        -p {{ item.path }}
        -s {{ item.storage_id }}
        -i {{ item.target_id }}
        -m {{ storage_targets[inventory_hostname].mgmtd }}
      loop: "{{ storage_targets[inventory_hostname].targets }}"
      loop_control:
        label: "{{ item.path }}"
      register: storage_setup
      failed_when: storage_setup.rc != 0
      changed_when: true


- name: Start and verify BeeGFS storage service on storage nodes
  hosts: storage
  become: true
  tags:
    - storage
    - start
  tasks:
    - name: Start beegfs-storage service
      systemd:
        name: beegfs-storage
        state: started
        enabled: yes


- name: List BeeGFS storage nodes
  hosts: control
  become: true
  tags:
    - management
    - status
  tasks:
    - name: Run beegfs node list for storage nodes
      command: /opt/beegfs/sbin/beegfs node list --mgmtd-addr node1:8010 --node-type storage
      register: storage_nodes
      ignore_errors: yes

    - name: Display storage nodes
      debug:
        msg: "{{ storage_nodes.stdout }}"


