- name: Update packages safely on all nodes
  hosts: all
  become: yes
  tasks:

    - name: Set SELinux to permissive
      command: setenforce 0
      ignore_errors: yes
      tags: disable_selinux

    - name: Disable SELinux in config
      lineinfile:
        path: /etc/selinux/config
        regexp: "^SELINUX="
        line: "SELINUX=disabled"
        state: present
        backrefs: yes
      ignore_errors: yes
      tags: disable_selinux

    - name: Enable CRB and Plus repositories
      shell: |
        dnf config-manager --set-enabled crb
        dnf config-manager --set-enabled plus
      args:
        executable: /bin/bash
      tags: repo

    - name: Clean and rebuild DNF cache
      shell: |
        dnf clean all
        dnf makecache
      args:
        executable: /bin/bash
      tags: dnf

    - name: Update glibc and core libraries first
      dnf:
        name:
          - glibc
          - glibc-devel
          - glibc-common
        state: latest
      tags: core

    - name: Update all other packages
      dnf:
        name: "*"
        state: latest
      tags: update

    - name: Install EPEL repository
      dnf:
        name: epel-release
        state: present
      tags: epel

    - name: Synchronize all packages to distro versions
      ansible.builtin.shell: dnf distro-sync -y
      args:
        executable: /bin/bash
      tags: distro_sync
      ignore_errors: yes


    - name: Install Development Tools group
      dnf:
        name: "@Development Tools"
        state: present
      tags: devtools

    - name: Install additional packages
      dnf:
        name:
          - wget
          - vim
          - telnet
          - net-tools
          - python3
          - python3-devel
          - perl
          - autoconf
          - automake
          - gcc
          - gcc-c++
          - make
          - cmake
          - chkconfig
          - nmap-ncat
        state: present
      tags: packages

    - name: Reboot nodes
      reboot:
        reboot_timeout: 600
        test_command: whoami
      tags: reboot
