
- name: Load Terraform outputs on localhost
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Run terraform output -json
      shell: terraform output -json
      args:
        chdir: ../../
      register: terraform_output
      changed_when: false

    - name: Set terraform outputs fact
      set_fact:
        tf_outputs: "{{ terraform_output.stdout | from_json }}"

    - name: Set global variables
      set_fact:
        efs_apps_id: "{{ tf_outputs.efs_apps_id.value }}"
        efs_home_id: "{{ tf_outputs.efs_home_id.value }}"
        efs_scratch_id: "{{ tf_outputs.efs_scratch_id.value }}"

- name: Mount /scratch EFS volume
  hosts: all
  become: yes
  vars:
    mount_point: "/scratch"
  tasks:
    - name: Create mount directory for /scratch
      file:
        path: "{{ mount_point }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Mount /scratch EFS
      mount:
        path: "{{ mount_point }}"
        src: "{{ hostvars['localhost']['efs_scratch_id'] }}:/"
        fstype: efs
        opts: defaults,_netdev
        state: mounted

    - name: Persist /scratch EFS mount in /etc/fstab
      mount:
        path: "{{ mount_point }}"
        src: "{{ hostvars['localhost']['efs_scratch_id'] }}:/"
        fstype: efs
        opts: defaults,_netdev
        state: present
