- name: Distribute MUNGE key from head node to all nodes
  hosts: all
  become: true
  vars:
    munge_key_source: /usr/sbin/mungekey
    munge_key_dest: /etc/munge/munge.key
    munge_key_local_tmp: "{{ playbook_dir }}/mungekey"  # absolute dir relative to playbook location

  tasks:

    - name: Ensure local mungekey directory exists
      delegate_to: localhost
      run_once: true
      become: false
      file:
        path: "{{ munge_key_local_tmp }}"
        state: directory
        mode: '0755'

    - name: Fetch munge.key from node1 to control node
      fetch:
        src: "{{ munge_key_source }}"
        dest: "{{ munge_key_local_tmp }}/munge.key"
        flat: true
      when: inventory_hostname == "node1"
      register: fetch_result
      run_once: true

    - name: Set munge_key_path fact for all hosts
      set_fact:
        munge_key_path: "{{ munge_key_local_tmp }}/munge.key"
      run_once: true
      delegate_to: localhost

    - name: Copy munge.key from control node to all other nodes
      copy:
        src: "{{ munge_key_path }}"
        dest: "{{ munge_key_dest }}"
        owner: munge
        group: munge
        mode: '0700'
      when: inventory_hostname != "node1"

    - name: Compute SHA256 hash of the MUNGE key
      command: sha256sum {{ munge_key_dest }}
      register: key_hash

    - name: Print SHA256 hash of munge.key
      debug:
        msg: "Node {{ inventory_hostname }} MUNGE key hash: {{ key_hash.stdout }}"
