---
- name: Install and prepare Slurm on all nodes
  hosts: all
  become: true
  vars:
    slurm_dirs:
      - /etc/slurm
      - /var/spool/slurmd
      - /var/log/slurm

  tasks:
    - name: Update APT package index
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install Slurm packages
      apt:
        name:
          - slurm-wlm
          - slurm-wlm-basic-plugins
        state: present

    - name: Create necessary Slurm directories
      file:
        path: "{{ item }}"
        state: directory
        owner: slurm
        group: slurm
        mode: "{{ '0700' if '/spool' in item or '/log' in item else '0755' }}"
      loop: "{{ slurm_dirs }}"
