---
- name: Enable SSH password authentication reliably
  hosts: login,compute,storage
  become: yes
  gather_facts: yes

  tasks:
    - name: Disable cloud-init managing SSH config
      copy:
        dest: /etc/cloud/cloud.cfg.d/99-disable-ssh-password.cfg
        content: |
          manage_etc_ssh: false
        owner: root
        group: root
        mode: "0644"
      tags:
        - ssh
        - cloud_init
        - config

    - name: Remove conflicting cloudimg ssh config file
      file:
        path: /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
        state: absent
      tags:
        - ssh
        - cloud_init
        - cleanup

    - name: Ensure PasswordAuthentication is enabled in sshd_config
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?\s*PasswordAuthentication\s+.*'
        line: "PasswordAuthentication yes"
        state: present
        backrefs: yes
      tags:
        - ssh
        - sshd_config
        - authentication

    - name: Ensure ChallengeResponseAuthentication is disabled
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?\s*ChallengeResponseAuthentication\s+.*'
        line: "ChallengeResponseAuthentication no"
        state: present
        backrefs: yes
      tags:
        - ssh
        - sshd_config
        - authentication

    - name: Ensure PAM is enabled for sshd
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?\s*UsePAM\s+.*'
        line: "UsePAM yes"
        state: present
        backrefs: yes
      tags:
        - ssh
        - sshd_config
        - pam

    - name: Ensure cloud-init allows SSH password authentication
      lineinfile:
        path: /etc/cloud/cloud.cfg
        regexp: "^ssh_pwauth:"
        line: "ssh_pwauth:   1"
        create: yes
      tags:
        - ssh
        - cloud_init
        - authentication

    - name: Restart ssh service to apply changes
      service:
        name: sshd
        state: restarted
      tags:
        - ssh
        - service
        - restart

    - name: Reboot the server to apply all changes
      reboot:
        reboot_timeout: 300
      tags:
        - ssh
        - reboot
        - maintenance
