---
- name: Gather control node private IP
  hosts: control
  gather_facts: yes
  tasks:
    - name: Set fact with control node private IP
      set_fact:
        ldap_server_ip: "{{ ansible_default_ipv4.address }}"
      run_once: true
      delegate_to: localhost

- name: Check LDAP reachability from clients (login and compute nodes)
  hosts: login,compute
  become: yes
  gather_facts: no
  vars:
    ldap_base_dn: "dc=ncitraininf,dc=local"
    ldap_bind_dn: "cn=admin,dc=ncitraininf,dc=local"
    ldap_bind_pw: "Nci@Kambri"

  tasks:
    - name: Fetch ldap_server_ip from control node facts
      set_fact:
        ldap_server_ip: "{{ hostvars[groups['control'][0]]['ldap_server_ip'] }}"

    - name: Debug LDAP server IP being used
      debug:
        var: ldap_server_ip

    - name: Check if LDAP server port 389 is open
      shell: nc -zv {{ ldap_server_ip }} 389
      register: port_check
      ignore_errors: yes

    - name: Show port check result
      debug:
        var: port_check.stdout

    - name: Show port check stderr
      debug:
        var: port_check.stderr

    - name: Show port check return code
      debug:
        var: port_check.rc

    - name: Run ldapsearch anonymous bind
      shell: ldapsearch -x -H ldap://{{ ldap_server_ip }} -b {{ ldap_base_dn }} -LLL
      register: ldap_anonymous
      ignore_errors: yes

    - name: Show anonymous ldapsearch output
      debug:
        var: ldap_anonymous.stdout

    - name: Run ldapsearch authenticated bind
      shell: ldapsearch -x -H ldap://{{ ldap_server_ip }} -D "{{ ldap_bind_dn }}" -w "{{ ldap_bind_pw }}" -b {{ ldap_base_dn }} -LLL
      register: ldap_authenticated
      ignore_errors: yes

    - name: Show authenticated ldapsearch output
      debug:
        var: ldap_authenticated.stdout
