---
- name: Install Grafana on control node
  hosts: control
  become: yes

  tasks:
    - name: Install dependencies
      apt:
        name: [apt-transport-https, software-properties-common, wget, gnupg2]
        state: present
        update_cache: yes

    - name: Add Grafana GPG key
      apt_key:
        url: https://packages.grafana.com/gpg.key
        state: present

    - name: Add Grafana apt repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present
        filename: grafana

    - name: Install Grafana
      apt:
        name: grafana
        state: present
        update_cache: yes

    - name: Enable and start Grafana service
      systemd:
        name: grafana-server
        enabled: yes
        state: started
