---


- name: Set PBS server name on all nodes
  hosts: control, compute, login
  become: yes
  tasks:
    - name: Write PBS server name to /var/spool/pbs/server_name
      ansible.builtin.shell: echo "node1" > /var/spool/pbs/server_name
      args:
        executable: /bin/bash
      tags: set_server_name

    - name: Apply setuid permission to PBS binaries
      ansible.builtin.file:
        path: "{{ item }}"
        mode: '4755'
      loop:
        - /opt/pbs/sbin/pbs_iff
        - /opt/pbs/sbin/pbs_rcp
      tags: fix_pbs_permissions
  


- name: Start PBS service on head node
  hosts: control
  become: yes
  
  tasks:

    - name: Execute PBS post-installation script
      ansible.builtin.command: /opt/pbs/libexec/pbs_postinstall
      args:
        creates: /var/spool/pbs # prevents re-running if already done
      tags: pbs_postinstall

    - name: Ensure PBS security directory exists
      ansible.builtin.file:
        path: /var/spool/pbs/server_priv/security
        state: directory
        owner: root
        group: root
        mode: '0700'
      tags: create_security_dir

    - name: Start PBS server service
      ansible.builtin.systemd:
        name: pbs
        state: started
        enabled: yes
      tags: start_pbs

- name: Enable and start PBS MOM on compute nodes
  hosts: compute
  become: yes
  tasks:
    - name: Enable and start PBS MOM service
      ansible.builtin.systemd:
        name: pbs
        state: started
        enabled: yes
      tags: start_pbs_mom


- name: Start PBS service on login node
  hosts: login
  become: yes
  tasks:
    - name: Start PBS service
      ansible.builtin.systemd:
        name: pbs
        state: started
        enabled: yes
      tags: start_pbs_login
