---
- name: Setup EC2 instance with Spack installed in /apps on controller node
  hosts: control
  become: yes

  vars:
    app_dir: /apps
    git_repo: "https://github.com/spack/spack.git"

  tasks:
    - name: Ensure /apps directory exists
      file:
        path: "{{ app_dir }}"
        state: directory
        mode: "0755"

    - name: Clone Spack repo into /apps/spack
      git:
        repo: "{{ git_repo }}"
        dest: "{{ app_dir }}/spack"
        depth: 2
        update: yes
