- name: Load Terraform outputs on localhost
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Run terraform output -json
      shell: terraform output -json
      args:
        chdir: ../../
      register: terraform_output
      changed_when: false

    - name: Set terraform outputs fact
      set_fact:
        tf_outputs: "{{ terraform_output.stdout | from_json }}"

    - name: Set global variables
      set_fact:
        efs_apps_id: "{{ tf_outputs.efs_apps_id.value }}"
        efs_home_id: "{{ tf_outputs.efs_home_id.value }}"
        efs_scratch_id: "{{ tf_outputs.efs_scratch_id.value }}"

- name: Mount /apps EFS volume on remote nodes
  hosts: all
  become: yes
  vars:
    efs_id: "{{ hostvars['localhost']['efs_apps_id'] }}"
  tasks:
    - name: Create mount directory
      file:
        path: /apps
        state: directory
        mode: '0755'

    - name: Mount /apps EFS
      mount:
        path: /apps
        src: "{{ efs_id }}:/"
        fstype: efs
        opts: defaults,_netdev
        state: mounted

    - name: Persist /apps EFS mount in /etc/fstab
      mount:
        path: /apps
        src: "{{ efs_id }}:/"
        fstype: efs
        opts: defaults,_netdev
        state: present
