---
- name: Install and configure OpenLDAP server on control node
  hosts: control
  become: yes
  vars:
    ldap_domain: "ncitraininf.local"
    ldap_organization: "NCI Training"
    ldap_admin_password: "Nci@Kambri"

  pre_tasks:
    - name: Ensure debconf-utils is installed
      apt:
        name: debconf-utils
        state: present
        update_cache: yes

    - name: Preconfigure slapd debconf selections
      debconf:
        name: slapd
        question: "{{ item.question }}"
        value: "{{ item.value }}"
        vtype: "{{ item.vtype }}"
      loop:
        - { question: "slapd/no_configuration", value: "false", vtype: "boolean" }
        - { question: "slapd/domain", value: "{{ ldap_domain }}", vtype: "string" }
        - { question: "slapd/organization", value: "{{ ldap_organization }}", vtype: "string" }
        - { question: "slapd/password1", value: "{{ ldap_admin_password }}", vtype: "password" }
        - { question: "slapd/password2", value: "{{ ldap_admin_password }}", vtype: "password" }

  tasks:
    - name: Stop slapd if already running
      service:
        name: slapd
        state: stopped
      ignore_errors: yes

    - name: Install slapd and ldap-utils
      apt:
        name:
          - slapd
          - ldap-utils
        state: present
        update_cache: yes

    - name: Ensure slapd is running and enabled
      service:
        name: slapd
        state: started
        enabled: yes

- name: Install and configure LDAP client on login and compute nodes
  hosts: login,compute
  become: yes
  vars:
    # Force using the private IP of the control node
    ldap_server_ip: "{{ hostvars[groups['control'][0]]['ansible_default_ipv4']['address'] }}"
    ldap_base_dn: "dc=ncitraininf,dc=local"

  pre_tasks:
    - name: Debug the IP being used for LDAP server
      debug:
        msg: "Using LDAP server at {{ ldap_server_ip }}"

    - name: Add LDAP server private IP to /etc/hosts
      lineinfile:
        path: /etc/hosts
        line: "{{ ldap_server_ip }} ldap-server"
        state: present

    - name: Set debconf values for ldap-auth-config to avoid prompts
      debconf:
        name: ldap-auth-config
        question: "{{ item.question }}"
        value: "{{ item.value }}"
        vtype: "{{ item.vtype }}"
      loop:
        - { question: "ldap-auth-config/ldapns/ldap-server", value: "ldap://ldap-server", vtype: "string" }
        - { question: "ldap-auth-config/ldapns/base-dn", value: "{{ ldap_base_dn }}", vtype: "string" }
        - { question: "ldap-auth-config/ldapns/ldap_version", value: "3", vtype: "string" }
        - { question: "ldap-auth-config/dbrootlogin", value: "true", vtype: "boolean" }

  tasks:
    - name: Install LDAP client packages
      apt:
        name:
          - libnss-ldapd
          - libpam-ldapd
          - ldap-utils
          - nslcd
          - nscd
        state: present
        update_cache: yes

    - name: Configure /etc/ldap/ldap.conf
      copy:
        dest: /etc/ldap/ldap.conf
        content: |
          BASE {{ ldap_base_dn }}
          URI ldap://ldap-server
        mode: '0644'

    - name: Configure /etc/nslcd.conf
      copy:
        dest: /etc/nslcd.conf
        content: |
          uid nslcd
          gid nslcd
          uri ldap://ldap-server
          base {{ ldap_base_dn }}
          bind_timelimit 5
          timelimit 15
          reconnect_sleeptime 1
          reconnect_retrytime 5
          ssl no
        mode: '0644'

    - name: Configure /etc/nsswitch.conf to use ldap for passwd, group, shadow
      lineinfile:
        path: /etc/nsswitch.conf
        regexp: "^({{ item.key }}:).*"
        line: "{{ item.key }}: files ldap"
      loop:
        - { key: passwd }
        - { key: group }
        - { key: shadow }

    - name: Restart nslcd service
      service:
        name: nslcd
        state: restarted
        enabled: yes

    - name: Restart nscd service
      service:
        name: nscd
        state: restarted
        enabled: yes
