# ---------------------------------------------------------
# Play 11: Enable SSH Password Authentication for All Users
# ---------------------------------------------------------

- name: Enable SSH password authentication for all users and reboot system
  hosts: ec2
  become: yes
  gather_facts: yes

  tasks:
    - name: Ensure PasswordAuthentication is enabled in sshd_config
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?PasswordAuthentication"
        line: "PasswordAuthentication yes"
        state: present
        backrefs: yes
      notify: Restart sshd

    - name: Ensure ChallengeResponseAuthentication is disabled
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?ChallengeResponseAuthentication"
        line: "ChallengeResponseAuthentication no"
        state: present
        backrefs: yes
      notify: Restart sshd

    - name: Ensure PAM is enabled for sshd
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "^#?UsePAM"
        line: "UsePAM yes"
        state: present
        backrefs: yes
      notify: Restart sshd

    - name: Ensure cloud-init allows SSH password authentication
      lineinfile:
        path: /etc/cloud/cloud.cfg
        regexp: "^ssh_pwauth:"
        line: "ssh_pwauth: true"
        create: yes

    - name: Remove forced PasswordAuthentication=no from cloud-init drop-in
      lineinfile:
        path: /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
        regexp: '^PasswordAuthentication'
        state: absent
      notify: Restart sshd
      ignore_errors: yes

    - name: Ensure SSH password authentication override is enabled
      copy:
        dest: /etc/ssh/sshd_config.d/99-password.conf
        content: |
          PasswordAuthentication yes
        owner: root
        group: root
        mode: '0644'
      notify: Restart sshd

    - name: Set password for ubuntu user
      user:
        name: ubuntu
        password: "{{ 'MyStrongPass123!' | password_hash('sha512') }}"

    - name: Reboot the server to apply all changes
      reboot:
        reboot_timeout: 300

  handlers:
    - name: Restart sshd
      systemd:
        name: ssh
        state: restarted
